<html>
   <body>
      {% if username %}
         <form action = "/upload" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit" value = "Upload to S3 bucket" name ="/upload" />
            <div class = "center">
               <p><a class = "center" href="/logout">Logout</a></p>
            </div>
         </form>
      {% else %}
         <h1>Welcome to the Login/Signup Page</h1>
         <p><a href="/signup">Sign Up</a> or <a href="/login">Login</a></p>
      {% endif %}
   </body>
</html>

